
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar bg-dark  navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Microwize</a>
    <button class="btn btn-outline-primary" (click)="logout()" type="submit">Signout</button>

  </div>
</nav>
<div class="container">
<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<div class="table-responsive">
				<table class="table user-list">

					<thead>
            <tr>
            <td colspan="6" class="text-center"><h1>{{team.name}} Team</h1></td>

            </tr>
						<tr>
							<th>Employee</th>
							<th>Start Date</th>
							<th>Edit Records</th>
							<th>Today's Status</th>
              <th>submit status</th>
						</tr>
					</thead>
					<tbody>

            <tr *ngFor="let item of team.members; let i = index">
							<td>
								<img src="https://bootdey.com/img/Content/avatar/avatar{{i+1}}.png" alt="">
								<a href="#" class="user-link">{{item.name}}</a>
								<span class="user-subhead">{{item.role}}</span>
							</td>
							<td>
								{{item.startDate}}

							</td>

							<td>
								<button routerLink="/EditEmployeeRecoreds/{{item.id}}" type="button"  class="btn btn-primary">View Total Performance</button>
							</td>
							<td style="width: 20%;">
                <select class="form-select" aria-label="Default select example" (change)="visbile(i)" id="drop{{i}}">
                  <option selected>Status</option>
                  <option value="Present">Present</option>
                  <option value="Late">Late</option>
                  <option value="Excused">Excused</option>
                  <option value="Casual">Casual</option>
                  <option value="Vacation">Vacation</option>
                </select>


							</td>
              <td>
								<button type="button" id="{{i}}" (click)="dailyRec(i,item.id)" class="btn btn-primary invisible">Submit</button>

              </td>
						</tr>





					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>
</div>
