.page-wrapper {
  background: #edf1f5;
  position: relative;
  margin-top: 30px;
}

.white-box {
  background: #fff;
  padding: 25px;
  margin-bottom: 30px;
}
.white-box .box-title {
  font-weight: 700;
  line-height: 30px;
  font-size: 18px;
}

section{
  /* padding: 50px  ; */
  width: 100%;
  background: #edf1f5;

}
.nav{
}
